/* SIGN CSS */
.page {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    row-gap: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 90%;
}

#signs img {
    width: 100%;
    animation: rotate 60s ease-in-out 0s infinite;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        rotate: 360deg;
    }

    from {
        rotate: 0deg;
    }
}

#sign {
    padding: 1%;
    border: none;
    background: transparent;
    border-bottom: 1px solid darkorchid;
    color: linear-gradient(to left, #ccc, #333, #ccc);
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    margin-bottom: 10%;
}

#sign:focus {
    outline: none;
    color: lightslategray;
}

.page h1 {
    margin-left: 33%;
    color: blueviolet;
    font-style: italic;
    font-weight: bold;

}


/* HOROSCOPE CSS  */
.days {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 1.2%;
    justify-content: center
}

.days input {
    padding: 5%;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 1%;
    box-shadow: .3px .3px 1px .3px gray;
    margin-inline: 1%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    transition: .2s ease-in-out;
    color: gray;
}

.days input:hover {
    border-bottom: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
    transform: scale(1.025);
}


#app-name {
    color: gray;
    width: 10%;
    text-align: center;
    padding: .5%;
    margin-top: 1%;
    left: 0;
    top: 0;
    position: fixed;
    transition: .2s ease-in-out;
}

#app-name:hover {
    color: lightslategray;
}

.zodiac {
    display: grid;
    grid-template-areas:
        "signs sign sign"
        "day day day"
        "date date date"
        "basics basics horoscope-head"
        "info . horoscope"
    ;
    width: 85%;
    box-shadow: .3px .3px 1px .2px gray;
    padding: 5%;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: gray;
    column-gap: 3%;
    row-gap: 2%;
    transition: .3s ease-in-out;
    margin-top: 2%;
}

.zodiac:hover {
    box-shadow: .3px .3px 1px .2px blueviolet;
}

#title {
    grid-area: sign;
    width: auto;
    border-bottom: 1.5px dashed lightslategray;
    color: lightslategray;
}

.the-date {
    grid-area: date;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 25%;
    padding: 2%;
}

#the-day {
    width: auto;
    border-bottom: 1px dashed lightslategray;
    padding: 1%;
}

#date {
    width: auto;
    font-size: larger;
    font-style: oblique;
    border-bottom: 1px dashed lightslategray;
}


#basics {
    grid-area: basics;
}

.info {
    grid-area: info;
    border-right: 1.2px dashed lightslategray;
}

.info li {
    list-style: none;
}

#mood {
    grid-area: mood;
}

#horoscope-head {
    grid-area: horoscope-head;
}

#horoscope {
    grid-area: horoscope;
    width: 75%;
}

#signs-app {
    grid-area: signs;
    width: 60%;
    animation: rotate 30s ease-in-out 0s infinite;
}